ol li {
    display: inline;
}

.item1, .item2, .item3, .item4, .item5 {
    background-color: cyan;
    border-bottom: 3px solid fuchsia;
    border-radius: 5px 5px 0px 0px;
}

.item1:hover, .item2:hover, .item3:hover, .item4:hover, .item5:hover {
    background-color: cornflowerblue;
}