#box0, #box1 {
    width: 200px;
    height: 200px;
    background-color: aqua;
    border: 5px solid blueviolet;
}

#box0:hover, #box1:hover {
    background-color: black;
}

#box1 {
    background-color: cornflowerblue;
    border: 5px solid hotpink;
}

span {
    border: 5px solid navy;
    padding: 5px;
    margin: 15px;
}

