p {
    font-size: 1.3em;
    color: darkblue;
    font-weight: bold;
    font-family: monospace;
}

.second {
    font-size: 1.3em;
    color: darkred;
    font-weight: bold;
    font-family: monospace;
}

h1 {
    font-weight: bold;
    -moz-text-decoration-style: dotted;
    text-decoration: underline;
 }

label {
     font-weight: bold;
     color: red;
 }

input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
}

 button {
     background-color: aquamarine;
     border-radius: 10px;
 }

 #email{
     background-color: blueviolet;
 }